    
<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;
            }
            h1{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <style>
            .error{
                color: red;
            }
            h1{
                text-align: center;
            }
            .right{
                text-align: right;
            }
            .left{
                text-align: left
            }
        </style>

        {% if 'user' in session %}
            {{ session['user'] }}
            <br>
            <a href="/logout">Logout</a>      
          
        <nav>
            <a href="/">Home</a> |
            <a href="/blog">All Posts</a> |
            <a href="/newpost">New Post</a> 
        </nav>
        

        {% else %}
            <a href="/login">login</a> | <a href="/signup">create account</a>
        
            <nav>
                <a href="/">Home</a> |
                <a href="/blog">All Posts</a> |
                <a href="/newpost">New Post</a> 
            </nav>
    


            
        {% endif %}
        <br>        
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul>
                {% for category,message in messages %}
                    <li class="{{category}}">{{message}}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <br>
        <br>
        {% block content %}
        {% endblock %}

    </body>
</html>